<h1>Tiny-App URL -- The URL Shortener</h1>

<% if (user) { %>
<p>Logged in as:
  <%= user.email %>
</p>
<form action="/logout" method="POST">
  <input type="submit" value="LOGOFF">
</form>
<% } else {%>
<p>Not Signed in: Please log in</p>
<form action="/login" method="POST" style="margin-top: 10px">
<p><a href="/login">Login Now</a></p>
<a href="/register">Not Registered?</a>
</form>
<% } %>

