<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <!-- Add your EJS code here -->
  <header>
    <% include ./partials/_header %>
  </header>

  <ul>
      <% for (let eachUrl in urls) { %>
      <li>
        <%= eachUrl %> : <%= urls[eachUrl] %>
      </li>
      <% }; %>

    </ul>

</body>

</html>