<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <!-- Add your EJS code here -->


  <ul>

    <li>
      <%= shortURL %> is short for: <%= urls[shortURL] %>
    </li>

  </ul>

</body>
<!----- CMD + SHIFT + left/right cursor -->
<!----- CMD + CTRL + up/down cursor -->
<!----- CMD + D   (pattern matching) -->

</html>