<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>


<form action="/urls/<%= shortURL %>" method="POST" style="margin-top: 10px">
  <%= shortURL %> ---->
  <input id="longURL" value="<%= urls['url'] %>" name="<%= shortURL %>" style="width: 300px">
  <input type="submit" value="Update">
</form>

</body>
</html>