<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>
<body>

<h1>Log In to Tiny-App!</h1>

  <form action="/login" method="POST" style="margin-top: 10px">
    <input id="email" type="email" name="email" placeholder="Enter your email" style="width: 200px">
    <input id="password" type="password" name="password" placeholder="Enter your password" style="width: 200px">
    <input type="submit" value="Submit">
  </form>

<p>New here?  Why dont you <a href="/register">register</a>?</p>

</body>
</html>

